.region-sidebar-first .orange{
  background-color: orange!important;
}

.region-sidebar-first .red{
  background-color: red!important;
}

.region-sidebar-first .green{
  background-color: green!important;
}

.region-sidebar-first .blue{
  background-color: blue!important;
}